::selection {
  background-color: #e38601;
  color: white;
}

* {
  font-family: "Gilroy-Regular";
}

h1 {
  font-family: "Gilroy-Bold";
  font-size: 40px;
}

span,
a {
  font-family: "Gilroy-Regular";
  text-decoration: none;
}

h2 {
  font-family: "Gilroy-Bold";
  font-size: 35px;
  color: #091756;
}

h3 {
  font-family: "Gilroy-Bold";
  font-size: 25px;
}

h4 {
  font-family: "Gilroy-Bold";
  font-size: 20px;
}

p {
  font-family: "Gilroy-Regular";
  font-size: 18px;
}

ul {
  font-family: "Gilroy-Regular";
}

.home-container {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.banner-container {
  position: relative;
}

.explore-link {
  padding-bottom: 2px;
  width: max-content;
  text-decoration: none;
  border-bottom: 1px solid;
}

.cta-orange {
  padding: 15px 40px;
  background-color: #ef861d;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 18px;
  border-radius: 5px;
  line-height: 1em;
}

.cta-orange:hover {
  background-color: black;
}

.cta-black {
  padding: 15px 40px;
  background-color: #000;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 18px;
  border-radius: 5px;
  line-height: 1em;
}

.cta-black:hover {
  background-color: #ef861d;
}

.text-center {
  text-align: center;
}

.v-expansion-panel {
  background-color: transparent !important;
}

.roles .v-expansion-panel {
  background-color: #ecf0ff !important;
  margin-bottom: 20px;
}

.v-expansion-panel:before {
  box-shadow: none !important;
}
.v-expansion-panel-header__icon {
  margin-left: auto !important;
}

.v-expansion-panel .v-expansion-panel-header {
  font-family: "Gilroy-Bold";
}

.v-overlay__scrim {
  opacity: 0 !important;
}

.home-slides .v-carousel__controls {
  justify-content: start !important;
  left: 64px !important;
  bottom: 10px;
}

.home-slides .v-carousel__controls__item.v-btn {
  margin: 0 !important;
}

.home-slides .v-carousel__controls__item.v-btn::before {
  all: unset !important;
}

.home-slides .v-carousel__controls__item.v-btn i::after {
  all: unset !important;
}

.home-slides .v-carousel__controls__item.v-btn.v-item--active {
}

.home-slides .v-carousel__controls__item.v-btn.v-item--active i {
  color: #ef861d;
  opacity: 1;
}

/* testimonial slider */

.testi-slider .v-window__next {
  right: 0;
}

.testi-slider .v-window__prev,
.testi-slider .v-window__next {
  background-color: transparent;
}
.testi-slider .v-window__prev img,
.testi-slider .v-window__next img {
  width: 30px;
}

/* 
method slider */

.method-slider .v-window__prev {
  left: 0;
}

.method-slider .v-window__next {
  left: 40px;
}

.method-slider .v-window__prev,
.method-slider .v-window__next {
  background-color: transparent;
  margin: 0;
  top: unset !important;
  bottom: 0 !important;
  cursor: pointer;
}
.method-slider .v-window__prev img,
.method-slider .v-window__next img {
  width: 25px;
}

.v-navigation-drawer {
  width: 45vw !important;
}

.mss-banner h1 {
  color: white;
}
.mss-banner a {
  color: white !important;
}
.mss-banner p {
  color: white !important;
}

.resources-tab .v-slide-group__content {
  justify-content: center;
}

html {
  width: 100vw;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .home-container {
    padding: 0px 30px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .home-container {
    padding: 0px 20px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .method-slider .v-window__next {
    left: 60px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (max-width: 480px) {
}

.calendly-badge-widget {
  right: auto !important;
  left: 20px !important;
}

ul {
  list-style-position: inside;
}
